<div class="video-wrapper">
  <video id="video" class="video-js vjs-default-skin vjs-big-play-centered"
         controls preload="auto" width="100%" height="100%"
         data-setup='{"customControlsOnMobile":true}'
         poster="https://vejeo.s3.amazonaws.com/videos/video-preroll-image.jpg"
  >

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
</div>
