VIDGENIE_SERVER_URL: http://localhost:3001
HOST: localhost
WEB_PORT: '3000'
S3_BUCKET: hal-development
CDN_URL: https://hal-development.s3.amazonaws.com
MIXPANEL_TOKEN: token
HONEYBADGER_ENV: development
WEB_CONCURRENCY: '1'
