form {
  .editor {
    margin: 8px 0 20px 0;
  }

  .editor-small {
    height: 150px;
  }

  .editor-large {
    height: 600px;
  }

  .form-actions {
    margin-top: 10px;
  }

  .btn-preview {
    margin-right: 12px;
  }
}
